button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    display: inline-block;
    cursor: pointer;
    outline: 0;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.button--regular {
    padding: var(--spacing__vertical--n1) var(--spacing__vertical--2);
    letter-spacing: var(--typography__spacing--1px);
    font-weight: var(--typography__weight--semiBold);
    border-radius: var(--spacing__vertical--2);
}

.button--small {
    padding: 0 var(--spacing__horizontal--n2);
    letter-spacing: var(--typography__spacing--1px);
    font-weight: var(--typography__weight--semiBold);
}

.button--cta {
    text-align: center;
    color: var(--color__gray--lightest);
    position: relative;
    overflow: hidden;
    filter: grayscale(0);

    &::before,
    &::after {
        transition: opacity 0.5s ease-in-out;
        border-radius: var(--spacing__vertical--2);
        background: var(--color__gradient--cta);
        content: '';
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    &::after {
        background: var(--color__gradient--hover);
        opacity: 0;
    }

    &:not(:disabled) {
        &:hover,
        &:active {
            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }

    &:disabled {
        &::before,
        &::after {
            filter: grayscale(1);
        }
    }
}

.button--primary {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    background-color: var(--color__gray--lighter);
    text-align: center;

    &:not(:disabled) {
        &:hover,
        &:active {
            background-color: var(--color__gray--light);
            color: var(--color__gray--lightest);
        }
    }

    &:disabled {
        opacity: 0.75;
    }
}

.button--icon {
    width: var(--spacing__horizontal--2);
    padding-left: var(--spacing__horizontal--n1);
    padding-right: var(--spacing__horizontal--n1);
}

.button--withIcon {
    display: inline-flex;
    align-items: center;

    .svg-inline--fa {
        margin-right: var(--spacing__horizontal--n3);
        width: var(--spacing__horizontal--n2);
    }
}

.button--secondary {
    padding: var(--spacing__vertical--n1) var(--spacing__vertical--n1);
    background-color: var(--color__gray--lighter);
    margin-right: var(--spacing__horizontal--n1);
    font-weight: var(--typography__weight--semiBold);
}

.button__label {
    padding-right: var(--spacing__horizontal--n1);
}

.button--inline {
    margin-top: var(--spacing__vertical--n1);
    margin-right: var(--spacing__horizontal--n1);
}

.button--highlighted {
    background-color: var(--color__tertiary);
}
