@import './variables.mediaqueries';

.recipeList {
    text-align: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.recipeCard {
    margin-top: 0;
    margin-bottom: 0;
    padding: var(--spacing__vertical--1) var(--spacing__horizontal--n1);
    flex-basis: 100%;

    @media (--mq__phabletCustom--min) {
        flex-basis: 50%;
    }

    @media (--mq__tablet--min) {
        flex-basis: 33.33%;
    }

    @media (--mq__desktop--min) {
        flex-basis: 25%;
    }
}

.recipeCard__image--skeleton {
    padding-bottom: 100%;
    background-color: var(--color__gray--lighter);
}

.recipeCard__skeleton {
    display: inline-block;
    background-color: var(--color__gray--lighter);
    padding-bottom: var(--spacing__vertical--1);
}

.recipeCard__skeleton--medium {
    width: 33%;
}

.recipeCard__skeleton--large {
    width: 100%;
}

.recipeCard__link {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    &,
    &:visited {
        color: var(--color__gray--dark);
    }

    &:after {
        content: '';
        width: 100%;
        height: var(--border__width--medium);
        background: var(--color__gradient--cta);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.recipeCard__title {
    margin: 0;
    padding-bottom: var(--spacing__vertical--n1);
}

.recipeCard__wrapper {
    padding: var(--spacing__vertical--n1) var(--spacing__horizontal--n1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipeCard__info {
    padding-bottom: var(--spacing__vertical--1);
}

.filters {
    padding-left: var(--spacing__horizontal--n1);
    padding-right: var(--spacing__horizontal--n1);
    @media (--mq__desktop--min) {
        padding-left: var(--spacing__horizontal--1);
        padding-right: var(--spacing__horizontal--1);
    }
}
