html,
body {
    min-height: 100vh;
    margin: 0;
}

main {
    min-height: 100vh;
    padding-top: var(--spacing__vertical--4);
    opacity: 0;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
