.container {
    max-width: var(--container__width--large);
    margin-left: auto;
    margin-right: auto;
}

.container--medium {
    max-width: var(--container__width--medium);
}

.container--withPadding {
    padding-left: var(--spacing__horizontal--1);
    padding-right: var(--spacing__horizontal--1);
}
