.logo {
    margin: 0;
}

.logo__link {
    display: block;
    font-family: var(--typography__fontFamily--tertiary);
    font-size: var(--typography__larger);
    padding-top: calc(
        var(--spacing__vertical--n2) + var(--spacing__vertical--n3)
    );
    padding-bottom: var(--spacing__vertical--n3);
    line-height: calc(
        var(--spacing__vertical--1) + var(--spacing__vertical--n3)
    );

    &,
    &:visited {
        font-weight: var(--typography__weight--normal);
        color: var(--color__gray--lightest);
    }
}
