:root {
    --spacing__default--horizontal: var(--spacing__horizontal--1);
    --container__width--large: 1440px;
    --container__width--medium: 1280px;

    --border__width--thin: calc((1 / 16) * 1rem);
    --border__width--medium: calc((2 / 16) * 1rem);
    --border__width--thick: calc((3 / 16) * 1rem);
}
