@import './variables.mediaqueries';

.home__hero {
    display: flex;
    margin-bottom: var(--spacing__vertical--3);
    flex-direction: column-reverse;
    margin-top: calc(-1 * var(--spacing__vertical--3));

    @media (--mq__tablet--min) {
        margin-bottom: var(--spacing__vertical--4);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-height: 100vh;
        margin-top: calc(-1 * var(--spacing__vertical--4));
    }
}

.home__hero--text {
    padding-left: var(--spacing__horizontal--n1);
    padding-right: var(--spacing__horizontal--n1);

    @media (--mq__tablet--min) {
        padding-left: var(--spacing__horizontal--1);
        padding-right: var(--spacing__horizontal--1);
    }

    @media (--mq__tablet--min) {
        transform: translateX(-200px);
        justify-self: flex-end;
        padding-left: var(--spacing__horizontal--2);
        padding-right: var(--spacing__horizontal--4);
        max-width: 660px;
        margin-left: auto;
        margin-right: 0;
        flex-basis: 50%;
    }
}

.home__hero--image {
    display: block;
    text-align: right;
    flex-basis: 50%;
    margin-bottom: var(--spacing__vertical--2);

    @media (--mq__tablet--min) {
        margin-bottom: 0;
    }
}

.home__about {
    text-align: center;

    @media (--mq__tablet--min) {
        padding-bottom: var(--spacing__vertical--4);
    }
}

.home__wrapper {
    @media (--mq__tablet--min) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.home__card {
    flex-basis: 31%;
    padding: var(--spacing__vertical--1) var(--spacing__horizontal--1);
    box-shadow: 0 0 0.3em 0.15em var(--color__gray--lighter);
    margin-bottom: var(--spacing__vertical--2);

    @media (--mq__tablet--min) {
        padding: var(--spacing__vertical--2) var(--spacing__horizontal--1);
        margin-bottom: 0;
    }
}

.home__image {
    padding-bottom: var(--spacing__vertical--n1);
}

.home__title {
    font-weight: 600;
    margin-bottom: var(--spacing__vertical--n1);
}

.home__subtitle {
    max-width: 380px;
    margin-bottom: var(--spacing__vertical--2);
    margin-left: auto;
    margin-right: auto;
}
