@import './variables.mediaqueries';

.recipe__header {
    padding-bottom: var(--spacing__vertical--2);

    @media (--mq__tablet--min) {
        padding-bottom: var(--spacing__vertical--3);
        display: flex;
    }
}

.recipe__header--image {
    margin-bottom: var(--spacing__vertical--1);
    max-width: 300px;

    @media (--mq__tablet--min) {
        margin-bottom: 0;
        padding-right: var(--spacing__horizontal--2);
        max-width: calc(300px + var(--spacing__horizontal--2));
        flex-basis: calc(300px + var(--spacing__horizontal--2));
    }
}

.recipe__title--main {
    margin-bottom: var(--spacing__vertical--n2);
    flex-grow: 1;
}

.recipe__header--content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (--mq__tablet--min) {
        max-width: 820px;
        flex-grow: 1;
    }
}

.recipe__link {
    color: var(--color__gray--darkest);
    margin-bottom: var(--spacing__vertical--n1);
}

.recipe__wrapper {
    @media (--mq__tablet--min) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    article {
        padding-bottom: var(--spacing__vertical--2);
        @media (--mq__desktop--min) {
            &:first-child {
                padding-right: var(--spacing__horizontal--2);
            }

            padding-bottom: var(--spacing__vertical--3);
            width: 50%;
        }

        @media (--mq__desktopMedium--min) {
            &:first-child {
                padding-right: var(--spacing__horizontal--3);
            }

            &:last-child {
                width: 35%;
            }
        }
    }
}

.recipe__image--skeleton {
    padding-bottom: 100%;
    background-color: var(--color__gray--lighter);
}

.recipe__text--skeleton {
    padding-bottom: var(--spacing__vertical--1);
    background-color: var(--color__gray--lighter);
}

.recipe__list--skeleton {
    display: inline-block;
    padding-bottom: var(--spacing__vertical--1);
    background-color: var(--color__gray--lighter);
    width: 90%;
    vertical-align: middle;
}

.recipe__block--skeleton {
    padding-bottom: var(--spacing__vertical--10);
    background-color: var(--color__gray--lighter);
}

.recipe__title--skeleton {
    padding-bottom: var(--spacing__vertical--3);
    background-color: var(--color__gray--lighter);
}
