.recipe__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: var(--spacing__vertical--3);
}

.recipe__header--image {
    padding-right: var(--spacing__horizontal--2);
    flex-basis: calc(300px + var(--spacing__horizontal--2));
}

.recipe__title--main {
    margin-bottom: var(--spacing__vertical--n2);
    flex-grow: 1;
}

.recipe__header--content {
    max-width: 768px;
}

.recipe__link {
    color: var(--color__gray--darkest);
    margin-bottom: var(--spacing__vertical--n1);
}

.recipe__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    article {
        padding-bottom: var(--spacing__vertical--3);
        width: 50%;

        &:first-child {
            padding-right: var(--spacing__horizontal--3);
        }

        &:last-child {
            width: 35%;
        }
    }
}
