@import './variables.mediaqueries';

.filters {
    @media (--mq__desktop--min) {
        margin-bottom: var(--spacing__vertical--1);
        display: flex;
        justify-content: space-between;
    }

    @media (--mq__phabletCustom--max) {
        > .inputWrapper--withButton,
        > .input {
            width: 100%;
        }
    }
}

.filters__group {
    margin-bottom: var(--spacing__vertical--n1);
    @media (--mq__mobileLandscape--min) {
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    @media (--mq__desktop--min) {
        margin-bottom: 0;
    }

    @media (--mq__tablet--max) {
        .toggleable {
            width: 100%;
            margin-bottom: var(--spacing__vertical--n1);

            > button {
                width: 100%;
            }
        }
    }
}

.recipeList__start {
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    min-height: calc(
        100vh - var(--spacing__vertical--4) - var(--spacing__vertical--6)
    );
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recipeList__images {
    padding-bottom: var(--spacing__vertical--1);

    img {
        &:not(:last-child) {
            margin-right: var(--spacing__horizontal--1);
        }
    }
}

.recipeList__searchWrapper {
    display: inline-block;
}
